form{
    text-align: center;
    height: 600px; 
    width: 400px;
  /*  margin-left: 300px;*/
    border: 1px solid black;
    /* background-color: blue; */
    background-color: aliceblue
 }
 
 body{
    background-image: url(sign\ in.jpg);
    background-size: cover;
 }